<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord | Skrive</title>



  <!-- Dash CSS  -->
   <link rel="stylesheet" href="../static/css/dash.css">
 
</head>
  <body>
    {% include 'header_log.html' %}
    <main class="main">
      <div class="container">
        <h5 id="tittle" class="mb-4 mt-3">
          Seja bem-vindo(a), {{ session['nome_prof'] }}!
        </h5>
    
        <div class="row mb-4">
          <!-- Card Adicionar Conteúdo -->
          <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="card mb-3">
              <a href="/gerador" class="text-decoration-none">
                <div class="card-body">
                  <img src="/static/img/dash/Gerar.png" class="card-img-top" alt="Adicionar Conteúdo">
                  <h5 class="card-title">Adicionar Conteúdo</h5>
                </div>
              </a>
            </div>
          </div>
    
          <!-- Card Gerador -->
          <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="card mb-3">
              <a href="/criar_atividade" class="text-decoration-none">
                <div class="card-body">
                  <img src="/static/img/dash/Gerar.png" class="card-img-top" alt="Gerador">
                  <h5 class="card-title">Gerador</h5>
                </div>
              </a>
            </div>
          </div>
    
          <!-- Card Atividades Inclusivas -->
          <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="card mb-3">
              <div class="card-body">
                <img src="/static/img/dash/inclusao.png" class="card-img-top" alt="Atividades Inclusivas">
                <h5 class="card-title">Atividades Inclusivas</h5>
              </div>
            </div>
          </div>
    
          <!-- Card Salvos -->
          <div class="col-lg-3 col-md-6 col-sm-6 col-6">
            <div class="card mb-3">
              <div class="card-body">
                <img src="/static/img/dash/salvar.png" class="card-img-top" alt="Salvos">
                <h5 class="card-title">Salvos</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

    

    
  
  
        
      <!-- <div class="recent-container">
        <h3 class="recent-title mb-3">Recentes</h3>
        <div class="recent-item">
          <h4 class="mb-2">Architectural Engineering...</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum ligula mauris, in varius diam accumsan vel. Phasellus pellentesque eros mollis a, non pharetra erat neque. Proin et imperdiet velit. Nunc tempor a magna sed semper. Quisque id tel...</p>
        </div>
        <div class="d-flex justify-content-between">
          <a href="#" class="btn btn-sm btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
          </a>
          <a href="#" class="btn btn-sm btn-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5.5h11.793l-3.147 3.146a.5.5 0 0 1-.708.708l4-4a.5.5 0 0 1 0-.708l-4-4a.5.5 0 0 1 .708-.708L13.293 8H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
          </a>
        </div>
      </div> -->
    </div>
  
    
             

  </main>
  </body>
 
