<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - eNno Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="../static/css/main.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top b">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="../static/img/logo_skrive.png" alt="">
      </a>

  
      <a class="btn-getstarted" href="/login">
        <button>Crie sua conta</button>
      </a>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>

    </div>
    
  </header>

  <nav id="navmenu" class="navmenu justify-content-center">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a href="#hero" class="nav-link {% if active_page == 'home' %}active{% endif %}">HOME</a>
      </li>
      <li class="nav-item">
        <a href="#about" class="nav-link {% if active_page == 'gerador' %}active{% endif %}">GERADOR</a>
      </li>
      <li class="nav-item">
        <a href="#faq" class="nav-link {% if active_page == 'historico' %}active{% endif %}">DÚVIDAS</a>
      </li>
      <li class="nav-item">
        <a href="#services" class="nav-link {% if active_page == 'salvos' %}active{% endif %}">SKRIVE</a>
      </li>
      <li class="nav-item">
        <a href="#call-to-action" class="nav-link {% if active_page == 'skrive' %}active{% endif %}">CONTATO</a>
      </li>
    </ul>
  </nav>
  
  

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
            <h1>Facilitando a criação de avaliações e atividades para professores!</h1>
            <p>Economize tempo e foque no que realmente importa: <strong> ensinar! </strong></p>
            <div class="d-flex">
              <a href="#about" class="btn-get-started">Conheça o Skrive</a>
              <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Tutorial</span></a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="100">
            <img src="../static/img/lading_page/Lading Page.png" class="img-fluid animated p-0" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

   

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Sobre</h2>
        <p>Sobre a plataforma</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="../static/img/lading_page/about.png" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3>Ferramenta Completa para Criar Atividades </h3>
            <p class="fst-italic">
              Crie atividades personalizadas em tempo recorde
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Transforme conteúdos em atividades completas com poucos cliques</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Crie simulados de acordo com as necessidades da turma</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Acesse milhares de questões prontas para serem usadas.</span></li>
            </ul>
            <p>
              O Skrive é acessível em qualquer dispositivo, garantindo que você tenha acesso às suas ferramentas educacionais, seja no computador ou no celular. Mantenha-se conectado ao que precisa para ensinar melhor.
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

   

    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">

        <h2>Nossa ferramenta</h2>
        <p>Para todas as idades</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-shapes"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Fundamental I</h3>
              </a>
              <p>Crie atividades lúdicas e personalizadas para alunos do 1º ao 5º ano, focando em suas necessidades de aprendizado e desenvolvimento.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-book-open"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Fundamental II</h3>
              </a>
              <p> Monte atividades e avaliações que desafiem e estimulem o raciocínio dos alunos do 6º ao 9º ano, adaptando o conteúdo conforme o progresso de cada turma.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-graduation-cap"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Ensino Médio</h3>
              </a>
              <p>Elabore simulados e provas preparatórias para o vestibular e ENEM, ajudando os alunos a se prepararem de forma eficiente para os desafios do Ensino Superior.</p>
            </div>
          </div><!-- End Service Item -->

         

    </section><!-- /Services Section -->


    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section accent-background">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Entre em Contato</h3>
              <p>Tem alguma dúvida ou precisa de ajuda? Estamos aqui para apoiar você! Envie um e-mail para nossa equipe, e responderemos o mais rápido possível para garantir que sua experiência com o Scrike seja a melhor possível.</p>
              <a class="cta-btn" href="#">Contato</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

   

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contato</h2>
        <p>Entre em contato</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-5">

            <div class="info-wrap">
              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Endereço</h3>
                  <p>Avenida Kazumi Yoshimura, 430, 
                    Distrito Industrial - Vila Isabel, Itapeva - SP</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Telefone</h3>
                  <p>+55 15 99120-5124</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email</h3>
                  <p>skrive_ltda@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <div class="col-lg-7">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <label for="name-field" class="pb-2">Seu Nome</label>
                  <input type="text" name="name" id="name-field" class="form-control" required="">
                </div>

                <div class="col-md-6">
                  <label for="email-field" class="pb-2">Seu Email</label>
                  <input type="email" class="form-control" name="email" id="email-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="subject-field" class="pb-2">Título</label>
                  <input type="text" class="form-control" name="subject" id="subject-field" required="">
                </div>

                <div class="col-md-12">
                  <label for="message-field" class="pb-2">Mensagem</label>
                  <textarea class="form-control" name="message" rows="10" id="message-field" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Enviar Mensagem</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->


     <!-- Faq Section -->
     <section id="faq" class="faq section mt-4 mb-5">

      <div class="container">
        <div class="row gy-4">
          <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Tire suas dúvidas</h2>
        <p>Perguntas frequentes</p>
      </div><!-- End Section Title -->

        

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">
              <div class="faq-item faq-active">
                <h3><span class="num">1.</span> <span>Posso criar avaliações para diferentes disciplinas?</span></h3>
                <div class="faq-content">
                  <p>Sim! A Scrike permite que você crie avaliações personalizadas para diversas disciplinas. Basta inserir o conteúdo relacionado à matéria desejada, e a plataforma gerará questões específicas para cada área de estudo.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">2.</span> <span>Da para reutilizar atividades que já criei no Scrike?</span></h3>
                <div class="faq-content">
                  <p>Você pode salvar e reutilizar atividades anteriores na Scrike. Basta acessar seu histórico de atividades, fazer edições, se necessário, e utilizá-las novamente com novas turmas ou em diferentes momentos do ano letivo.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">3.</span> <span>É possível personalizar as atividades geradas?</span></h3>
                <div class="faq-content">
                  <p>A Scrike permite total personalização das atividades geradas. Você pode modificar as questões, ajustar o nível de dificuldade, escolher tipos específicos de perguntas e adicionar instruções ou comentários para adaptar as atividades às necessidades da sua turma.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              

            </div>

          </div>

          <div class="col-lg-4 ps-5" data-aos="fade-up" data-aos-delay="100" >
            <div class="content ">
              <img src="../assets/img/lading_page/raposa_faq.png" alt=""  width="400">
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->

  </main>

  <footer id="footer" class="footer">


    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="d-flex align-items-center">
            <img src="../static/img/logo_skrive.png" alt="Logo Skrive " height="60" >
          </a>
          <div class="footer-contact pt-3">
            <p class="pe-5">Avenida Kazumi Yoshimura, 430, 
              Distrito Industrial - Vila Isabel, Itapeva - SP</p>
            <p><strong>Email:</strong> <span>contato@skrive.com</span></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Ajuda</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">FAQ</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Termos de Uso</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Contato</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Transparência</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Segurança</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Desenvolvedores</a></li>
          
          </ul>
        </div>

        <div class="col-lg-4 col-md-12">
          <h4>Siga o Skrive</h4>
          <div class="social-links d-flex">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

    <section class="container-fluid copyright text-center d-flex justify-content-center align-items-center mt-3 d-flex" style="background-color: #febc04; padding: 1px 0;">
      <p>© 2024 Skrive - Todos os direitos reservados</p>
    </section>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>