<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Skrive | Inovação tecnológica para docentes</title>

  <!-- Favicons -->
  <link rel="shortcut icon" href="/static/img/skrive_ico.ico" type="image/x-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS  -->
  <link href="../static/css/main.css" rel="stylesheet">

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top b">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <img src="../static/img/logo_skrive.png" alt="">
      </a>

  
      <a class="btn-getstarted" href="/login">
        <button>Crie sua conta</button>
      </a>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>

    </div>
    
  </header>
  
    

  <nav id="navmenu" class="navmenu justify-content-center">
    <ul class="nav justify-content-center ">
      <li class="nav-item">
        <a href="#hero" class="nav-link active">HOME</a>
      </li>
      <li class="nav-item">
        <a href="/gerador" class="nav-link">GERADOR</a>
      </li>
      <li class="nav-item">
        <a href="#faq" class="nav-link">DÚVIDAS</a>
      </li>
      <li class="nav-item">
        <a href="#skrive" class="nav-link">SKRIVE</a>
      </li>
      
      <li class="nav-item">
        <a href="#call-to-action" class="nav-link">CONTATO</a>
      </li>
    </ul>
  
  </nav>
  

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="container">
        <div class="row gy-2 align-items-center d-flex justify-content-center align-items-center">
          <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
            <h1>Facilitando a criação de avaliações e atividades para professores!</h1>
            <p>Economize tempo e foque no que realmente importa: <strong> ensinar! </strong></p>
            <div class="d-flex">
              <a href="#about" class="btn-get-started">
                <button>Conheça a Skrive</button>
                </a>
              <!-- <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img " data-aos="zoom-out" data-aos-delay="80">
            <img src="../static/img/lading_page/Lading Page.png" class="img-fluid animated justify-content-center align-items-center" alt="">
          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section" >

      <div class="icon-boxes position-relative" data-aos="fade-up" data-aos-delay="200">
        <div class="container position-relative">
          <div class="row gy-4 mt-5">
            <h1 class="mt-4 mb-5">Experimente todas as funcionalidades do Skrive</h1>
            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="bi bi-easel"></i></div>
                <h4 class="title"><a href="/login" class="stretched-link">Atividades</a></h4>
              </div>
            </div><!--End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="fa-solid fa-pen-ruler"></i></div>
                <h4 class="title"><a href="/login" class="stretched-link">Avaliações</a></h4>
              </div>
            </div><!--End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="fa-regular fa-newspaper"></i></i></div>
                <h4 class="title"><a href="/login" class="stretched-link">Simulados</a></h4>
              </div>
            </div><!--End Icon Box -->

            <div class="col-xl-3 col-md-6">
              <div class="icon-box">
                <div class="icon"><i class="fa-solid fa-ribbon"></i></div>
                <h4 class="title"><a href="/login" class="stretched-link">Atividades Inclusivas</a></h4>
              </div>
            </div><!--End Icon Box -->

          </div>
        </div>
      </div>

    </section><!-- /Featured Services Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Transformando sua criação em sala de aula</h2>
        <p>Como a Skrive Pode Ajudar Você</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="../static/img/lading_page/about.png" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
          
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <div class="container py-5">
              <div class="row align-items-center mb-4">
                <div class="col-2 text-center">
                  <div class="icon-wrapper bg-warning rounded-circle d-flex justify-content-center align-items-center" style="width: 60px; height: 60px;">
                    <img src="../static/img/lading_page/about1.png" alt="" height="35" width="35">
                  </div>
                </div>
                <div class="col-10">
                  <h5 class="fw-bold">Geração Automática de Atividades</h5>
                  <p>Transforme conteúdos em atividades completas com poucos cliques.</p>
                </div>
              </div>
              <hr>
              
              <div class="row align-items-center mb-4">
                <div class="col-2 text-center">
                  <div class="icon-wrapper bg-warning rounded-circle d-flex justify-content-center align-items-center" style="width: 60px; height: 60px;">
                    <img src="../static/img/lading_page/about2.png" alt="" height="35" width="35">
                  </div>
                </div>
                <div class="col-10">
                  <h5 class="fw-bold">Simulados Personalizados</h5>
                  <p>Crie simulados de acordo com as necessidades da turma.</p>
                </div>
              </div>
              <hr>
              
              <div class="row align-items-center">
                <div class="col-2 text-center">
                  <div class="icon-wrapper bg-warning rounded-circle d-flex justify-content-center align-items-center" style="width: 60px; height: 60px;">
                    <img src="../static/img/lading_page/about3.png" alt="" height="35" width="35">
                  </div>
                </div>
                <div class="col-10">
                  <h5 class="fw-bold">Banco de Questões</h5>
                  <p>Acesse milhares de questões prontas para serem usadas.</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


    <!-- Services Section -->
    <section id="services" class="services section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>A Skrive pode transformando sua sala de aula</h2>
        <p>Um Pouco Mais Sobre Nossa Ferramenta</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-shapes"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Fundamental I</h3>
              </a>
              <p>Crie atividades lúdicas e personalizadas para alunos do 1º ao 5º ano, focando em suas necessidades de aprendizado e desenvolvimento.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-book-open"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Fundamental II</h3>
              </a>
              <p>Monte atividades e avaliações que desafiem e estimulem o raciocínio dos alunos do 6º ao 9º ano, adaptando o conteúdo conforme o progresso de cada turma.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-graduation-cap"></i>
              </div>
              <a href="service-details.html" class="stretched-link">
                <h3>Ensino Médio</h3>
              </a>
              <p>Elabore simulados e provas preparatórias para o vestibular e ENEM, ajudando os alunos a se prepararem de forma eficiente para os desafios do Ensino Superior.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

   

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>O que os professores dizem sobre a Skrive</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
          <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 1,
                  "spaceBetween": 40
                },
                "1200": {
                  "slidesPerView": 3,
                  "spaceBetween": 10
                }
              }
            }
          </script>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="../static/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <div><h3>Renata Costa</h3>
                  <h4>Coordenadora Pedagógica</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>A Skrive facilita meu trabalho de uma maneira que eu nem imaginava ser possível. O banco de questões é vasto, e a interface é superintuitiva. Já recomendei para todos os meus colegas de escola!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="../static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <div><h3>Lucas Santana</h3>
                  <h4>Professor de Matemática</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Antes, preparar simulados era uma tarefa demorada. Com a Skrive, tenho uma ferramenta ágil e confiável que gera exercícios de acordo com o nível de dificuldade que preciso. Meus alunos estão mais engajados e eu, mais organizado!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="../static/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <div><h3>Mariana Oliveira</h3>
                  <h4>Instrutora Pedagógica</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>A Skrive transformou completamente a forma como preparo minhas atividades. Economizo muito tempo e consigo personalizar cada avaliação para as necessidades da minha turma. É uma ferramenta essencial no meu dia a dia!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                  <img src="../static/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <div><h3>Carlos Mendes </h3>
                  <h4>Professor de Biologia</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                </div>
                </div>
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>A Skrive me ajudou a inovar nas avaliações e simulados que preparo. Gosto da flexibilidade que ele oferece para diferentes disciplinas e níveis de dificuldade. A plataforma realmente facilita minha rotina!</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="d-flex">
                <img src="../static/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                <div><h3>Felipe Duarde</h3>
                <h4>Professor de Geografia</h4>
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
              </div>
              </div>
                
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  <span>Uso a Skrive há meses e não troco por nada. Posso criar avaliações dinâmicas e personalizadas sem complicação. É ideal para quem precisa otimizar o tempo de planejamento.</span>
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section>
   <!-- /Testimonials Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section accent-background">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Entre em Contato</h3>
              <p>Tem alguma dúvida ou precisa de ajuda? Estamos aqui para apoiar você! Envie um e-mail para nossa equipe, e responderemos o mais rápido possível para garantir que sua experiência com a Scrike seja a melhor possível.</p>
              <a class="cta-btn" href="#">Entrar em contato</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

     <!-- Faq Section -->
     <section id="faq" class="faq section mt-4 mb-5">

      <div class="container">
        <div class="row gy-4">
          <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Tire suas dúvidas</h2>
        <p>Perguntas frequentes</p>
      </div><!-- End Section Title -->

        

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

            <div class="faq-container">
              <div class="faq-item faq-active">
                <h3><span class="num">1.</span> <span>Posso criar avaliações para diferentes disciplinas?</span></h3>
                <div class="faq-content">
                  <p>Sim! O Skrive permite que você crie avaliações personalizadas para diversas disciplinas. Basta inserir o conteúdo relacionado à matéria desejada, e a plataforma gerará questões específicas para cada área de estudo.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">2.</span> <span>Da para reutilizar atividades que já criei no Skrive?</span></h3>
                <div class="faq-content">
                  <p>Você pode salvar e reutilizar atividades anteriores na Scrike. Basta acessar seu histórico de atividades, fazer edições, se necessário, e utilizá-las novamente com novas turmas ou em diferentes momentos do ano letivo.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3><span class="num">3.</span> <span>É possível personalizar as atividades geradas?</span></h3>
                <div class="faq-content">
                  <p>O Skrive permite total personalização das atividades geradas. Você pode modificar as questões, ajustar o nível de dificuldade, escolher tipos específicos de perguntas e adicionar instruções ou comentários para adaptar as atividades às necessidades da sua turma.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              

            </div>

          </div>

          <div class="col-lg-4 ps-5" data-aos="fade-up" data-aos-delay="100" >
            <div class="content ">
              <img src="../static/img/lading_page/raposa_faq.png" alt=""  width="400">
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->

  </main>

  <footer id="footer" class="footer">

  

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="d-flex align-items-center">
            <img src="../static/img/logo_skrive.png" alt="Logo Skrive " height="60" >
          </a>
          <div class="footer-contact pt-3 ">
            <div class="d-flex p-0"><i class="bi bi-geo-alt-fill"></i> <strong class="ps-1">Endereço</strong></div>
            <p class="ps-4 pe-5"> Avenida Kazumi Yoshimura, 430, 
              Distrito Industrial - Vila Isabel, Itapeva - SP</p> 
           <div class="d-flex p-0 mt-3"><i class="bi bi-envelope-fill"></i> <strong class="ps-1">Email</strong></div>
            <p class="ps-4 pe-5">skrive@gmail.com</p>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Ajuda</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">FAQ</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Termos de Uso</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Contato</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Transparência</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Política de Privacidade</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Segurança</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Desenvolvedores</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 ">
          <h4 class="ms-4">Siga o Skrive</h4>
          <div class="social-links d-flex ms-3">
            <a href="https://www.instagram.com/skrive_educ/"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/skrive_educ/"><i class="bi bi-instagram"></i></a>
            <a href="https://www.instagram.com/skrive_educ/"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>

 

  <section class="container-fluid copyright text-center d-flex justify-content-center align-items-center mt-3 d-flex" style="background-color: #febc04; padding: 1px 0;">
      <p>© 2024 Skrive - Todos os direitos reservados</p>
    </section>
    
    
    


  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="../static/vendor/aos/aos.js"></script>
  <script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="../static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../static/js/main.js"></script>

</body>

</html>